@charset "UTF-8";

div.商品詳細ボックス {
	float:left;
	width:400px;
}

div.商品 {
	float:right;
	width:260px;
	background-color: rgb(245, 238, 221);
	border-bottom: solid 1px gray;
	margin-bottom: 1em;
}

div.productName_d {
	border-top:solid 7px rgb(127, 0, 5);
	border-bottom:solid 3px rgb(127, 0, 5);
	font-size: larger;
	font-weight: bold;
	padding: 1em 5px;
}

div.productDescription {
	border-bottom:solid 3px rgb(127, 0, 5);
	padding: 1em 5px;
}

div.productPrice_d, div.productNo, div.carriage, div.carriegeFree {
	padding:0.25em 5px;
}

#productPrice_d {
	border: solid 1px black;
	padding: 0.25em 2em;
}

div.productPrice_d {
	margin-top:1em;
}

div.カート {
	float:right;
	width:250px;
	border: solid 1px gray;
	padding: 5px;
}

div.カート div {
	background-color: rgb(245, 238, 221);
}

div.quantity, div.stock {
	padding:0.25em 8px;
}

div.stock {
	font-size: smaller;
}

#addToCart {
	position: relative;
	background-color: rgb(51, 51, 51);
	border:none;
	color:white;
	font-weight: bold;
	font-size: larger;
	padding:0.25em 1em;
	top: -20px;
	left: 95px;
}

#addToCart:hover {
	background-color:rgb(127, 0, 25);
	
}


#footer {
	clear: both;
}

