package $dao.pkg;

import ${dao.appRootPkg}.infra.layer.BaseDao;
import ${dao.appRootPkg}.infra.layer.Dao;

/**
 * このクラスは、$dao.entity.nameのDAOです。
 * @author
 */
@Dao
public class $dao.pname extends BaseDao<$dao.entity.pname, $dao.entity.idType> {

	@Override
	public Class<$dao.entity.pname> getEntityType() {
		return ${dao.entity.pname}.class;
	}

}
