#parse("/java-class.vm")
package $entity.pkg;

import java.io.Serializable;
import javax.persistence.*;
import javax.validation.constraints.*;
import javax.validation.Valid;

#import($entity)
import ${entity.appRootPkg}.infra.layer.BaseEntity;

/**
 * このクラスは、$entity.nameを表すエンティティです。
 * @author
 */
@Entity
@Table(name="$entity.tablePname")
public class $entity.pname extends BaseEntity implements Serializable {

#foreach ($field in $entity.ids)
#field($field "jpa")
#end

#foreach ($field in $entity.fields)
#field($field "jpa")
#end

#foreach ($field in $entity.fields)
#accessor($field)
#end

#foreach ($field in $entity.ids)
#accessor($field)
#end

#equals($entity)

#hashcode($entity)

}
