package $service.pkg;

import javax.ejb.Stateless;
import javax.ejb.TransactionAttribute;
import javax.ejb.TransactionAttributeType;
import javax.ejb.TransactionManagement;
import javax.ejb.TransactionManagementType;
import javax.inject.Inject;
import ${service.appRootPkg}.infra.layer.AbstractBaseDao;;
import ${service.appRootPkg}.infra.layer.AbstractBaseService;

/**
 * このクラスは、$service.entity.nameのサービスです。
 * @author 
 **/
@Stateless
@TransactionManagement(TransactionManagementType.CONTAINER)
@TransactionAttribute(TransactionAttributeType.REQUIRED)
public class $service.pname extends AbstractBaseService<$service.entity.pname, $service.entity.idType> {

	@Inject
	${service.entity.domain}Dao dao;

	@Override
	public AbstractBaseDao<$service.entity.pname, $service.entity.idType> getDao() {
		return dao;
	}

}
